{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<div class="container py-5">
  <h1>Привет, я автор</h1>
  <p>
  Меня зовут Евгений! Начал интересоваться Питоном в январе 2022 года. 
  В начале изучал статьи и видео в интернете. С конца лета 
  2022 начал учиться по книге Доусона и Фримена. А осенью, 
  начал курс на Stepik. Более менее знаю "ядро" питона могу написать 
  что-то простенькое. Плавую в функциях, ООП, хотя понимаю
  что такое наследование и переопределение.  
  </p>
  <p>
    Найти меня можно в <a href='https://github.com/evgenii-erokhin'>GitHub<a><br>
  </p>
  <p>
    Говорят програмисты любят постить свои кружки? Извините я вместо кружки, оставлю забавный мем
  </p>
  <img src="{% static 'img/about/mem.jpg' %}" width="300" height="400" hspace="500" vspace="10">
</dic>
{% endblock %}