{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  {% comment %} Колонки с отступом сверху и снизу {% endcomment %}
  <div class="row">
    <h1>Вот что я умею</h1>
    {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python. Более менее уверенно использую ядро питона,
          но есть еще много, что следует подтянуть.
          В этом проекте использовал принципы ООП чтобы создать
          свой веб-сайт.
        </li>
        <li class="list-group-item">
          Django. Это хороший способ чтобы углубиться в изучение
          принципов объектно ориентированого программирования,
          так как многие модели, классы или модули уже написаны
          и мне слежует правильно их переопределить адоптировать для своего
          веб-сайта.
        </li>
      </ul>
    </aside>
    {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
    <article class="col-12 col-md-9">
      <p>Обещаю, когда я освоюсь в django и python получше
        я подроблнее опишу как я применял изучаемые технологии.
        А пока пойду доделывать 4й спринт.
      </p>
    </article>
  </div>
{% endblock %}