{% extends 'base.html' %}
{% load static %}
{% block title%}Последние посты избранных пользователей{% endblock %}

{% block content %}
  <div class="container py-5">
    <h1>Последние посты избранных пользователей</h1>
    {% load cache %}
    {% cache 20 folow_page page_obj.number %}
    {% include 'posts/includes/switcher.html' %}
    {% for post in page_obj %}
      {% include 'posts/includes/post_list.html' %}
      {% if post.group %}
    <a href="{% url 'posts:group_list' post.group.slug %}">
      все записи группы
    </a>
    <br>
    <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
      {% endif%}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% endcache %}
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}
